name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  FORCE_COLOR: "1"

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.0.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python -c "import sys; print('Python version:', sys.version)"
    - name: Install pip dependencies
      run: |
        # Obligatory stuff
        python -m pip install --upgrade pip setuptools nox
        # Our own deps
        python -m pip install -r requirements.txt
    - name: Run linters with Nox
      run: |
        nox --non-interactive -s check-quality
